
 * {
    font-family: 'Alata', sans-serif;
    font-family: 'Architects Daughter', cursive;
  }

.tamanioHeader{
    font-size:20px;
}

.tamanioParrafo{
    font-size:20px;
}

.tamanioPass{
    font-size:30px;
}

.orangeHover:hover{
    color:orange;
    text-decoration:none;
    
}

.white{
    color:white;
}

.orangeColor{
    color:orange;
}

.orange{
    background:orange;
}

.grisClaro{
    background:#ededed;
}

.grisClaroColor{
    color:#ededed;
}

.black{
    background:black;
}

.labelConf{
    color:white;
    font-size: 20px;
}

.imagenGeneral{
    height: 400px;
    widows: 100%;
}

.ceroMargenes{
    margin:0px;
    padding: 0px;
}

.tamanioFull{
    font-size:40px;
}

.error{
    color:white;
    background: red;
    padding: 10px;
 	
}

.mensajeExitoso{
    background:green;
    color:white;
    padding: 10px;
 	 
}