
 * {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
     font-family: 'Alata', sans-serif;
     font-family: 'Architects Daughter', cursive;
  }

.tamanioHeader{
    font-size:20px;
}

.tamanioParrafo{
    font-size:20px;
}

.tamanioPass{
    font-size:30px;
}

.orangeHover:hover{
    color:orange;
    
}

.absolute{
    position: absolute;
    top:0px;
    right: 0px;
    left: 0px;
    bottom:0px;
    justify-content: center;
}

.relative{
    position: relative;
}

.orangeHover{
    text-decoration: none;
}

.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.white{
    color:white;
}

.orangeColor{
    color:orange;
}

.orange{
    background:orange;
}

.grisClaro{
    background:#ededed;
}

.grisClaroColor{
    color:#ededed;
}

.black{
    background:black;
}

.labelConf{
    color:white;
    font-size: 20px;
}

.imagenGeneral{
    height: 400px;
    widows: 100%;
}


.tamanioFull{
    font-size:40px;
}

.error{
    color:white;
    background: red;
    padding: 10px;
 	
}

.mensajeExitoso{
    background:green;
    color:white;
    padding: 10px;
 	 
}
@media(min-width:1024px){
    section .imgLimit{
        height: 700px;
        width: auto;
    }
}


@media(max-width:420px){
    section .imgLimit{
        height: auto;
        width: auto;
    }

    .mt{
        margin-top: 25%;
    }

    section .fontParrafo{
        font-size: 10px;
    }

    section .fontTitulo{
        font-size: 15px;
    }


}