.tamanioHeader{
    font-size:20px;
}

.tamanioParrafo{
    font-size:20px;
}

.tamanioPass{
    font-size:30px;
}

.orangeHover:hover{
    color:orange;
    text-decoration:none;
    
}

.black{
    color:black;
}

.imagenGeneral{
    height: 400px;
    widows: 100%;
}

.condicionGeneral{
    margin:0px;
    padding: 0px;
}